<div class="container ">
      <div class="row">
        <div class="col-4 mx-auto">
          <div class="bordered">
            <div class="row mx-auto h-100">
              <div
                id="carousel-1"
                class="carousel slide w-100"
                data-ride="carousel"
              >
                <div class="carousel-inner h-100">
                  <div class="carousel-item active h-100">
                    <div class="col-4 h-100" id="pad">
                      <div class="card h-100 color-1"></div>
                    </div>
                  </div>
                  <div class="carousel-item h-100">
                    <div class="col-4 h-100" id="pad">
                      <div class="card h-100 color-2"></div>
                    </div>
                  </div>
                  <div class="carousel-item h-100">
                    <div class="col-4 h-100" id="pad">
                      <div class="card h-100 color-3"></div>
                    </div>
                  </div>
                  <div class="carousel-item h-100">
                    <div class="col-4 h-100" id="pad">
                      <div class="card h-100 color-4"></div>
                    </div>
                  </div>
                  <div class="carousel-item h-100">
                    <div class="col-4 h-100" id="pad">
                      <div class="card h-100 color-5"></div>
                    </div>
                  </div>
                </div>
                <a
                  class="carousel-control-prev"
                  href="#carousel-1"
                  role="button"
                  data-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon bg-dark rounded-circle"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a
                  class="carousel-control-next"
                  href="#carousel-1"
                  role="button"
                  data-slide="next"
                >
                  <span
                    class="carousel-control-next-icon bg-dark rounded-circle"
                    id="bordered-2"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
<style>
  .container{
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  position: absolute;

}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}
.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.333%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.333%);
}
.carousel-inner .carousel-item {
  transition: transform 1.5s ease;
}
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}
body {
  background-color: #444444;
}
#pad {
  padding-left: 5px;
  padding-right: 5px;
}
.color-1 {
  background-color: rgb(255, 140, 140);
}
.color-2 {
  background-color: rgb(255, 205, 140);
}
.color-3 {
  background-color: rgb(173, 255, 140);
}
.color-4 {
  background-color: rgb(140, 186, 255);
}
.color-5 {
  background-color: rgb(194, 140, 255);
}
.bordered {
  border: rgb(220, 220, 220) medium solid;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  height: 10rem;
}
.overlay {
  z-index: 1;
  padding: 0;
  border: none;
  background: rgba(68, 68, 68, 0.5);
}

</style>
<script>
  $("#carousel-1").carousel({
  interval: 3000
});

$("#carousel-1.carousel .carousel-item").each(function() {
  const total = 3;
  let next = $(this).next();

  for (var i = 0; i < total - 1; i++) {
    if (!next.length) {
      next = $(this).siblings(":first");
    }
    next
      .children(":first-child")
      .clone()
      .appendTo($(this));
    next = next.next();
  }
});

</script>

{% schema %}
{
  "name": " slders ",
  "settings": [
 {
      "type": "text",
      "id": "heading",
      "label": "Heading"
      
    },
    {
      "type": "collection",
      "id": "feature_Collection",
      "label": "choose collection show on slider"
      
    }
  ],
  "presets": [
    {
      "name": "slders",
      "category": "collection"
    }
  ]
}
{% endschema %}
