<div class="tab-pane fade carousel slide carousel--loop carousel--swipe " id="value-sets" role="tabpanel" data-interval="false" aria-labelledby="value-sets-tab" data-slide-number="4">
    <div class="carousel--centered pt-2">
      <div class="carousel-inner row flex-nowrap" role="listbox">

<div class="carousel-item col-9 col-md-3 product-card text-center active" data-product-handle="shampoo-conditioner-set">
  <span class="badge badge--square bg-white position-absolute font-weight-normal font-size-sm"></span>
  <a href="/products/shampoo-conditioner-set">
  
    <picture class="embed-responsive embed-responsive-1by1 m-0">
      <img class="embed-responsive-item fit--cover" alt="Super Hydrating Shampoo &amp; Conditioner Set" src="//cdn.shopify.com/s/files/1/0028/8253/5533/products/Shampoo_ConditionerSet_300x.jpg?v=1644826148" loading="lazy">
    </picture>
  

  

  </a>
  <div class="pt-2 pb-0 position-relative flex-grow-1 d-flex flex-column px-2">
  <div class="d-flex justify-content-center">
    <div class="react-yotpo-star" data-product-id="6585993855085" data-product-url="/products/shampoo-conditioner-set" data-show-total="true"><div class="d-flex "><div class="d-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary "><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="svg text-primary ml-25"><path d="M9.921 16.189l-.506.247-3.86 2.41a1.066 1.066 0 01-1.467-.368 1.081 1.081 0 01-.116-.837l.989-4.52a1.145 1.145 0 00-.3-1.1l-3.265-3a1.156 1.156 0 01-.118-1.625c.182-.212.435-.35.711-.388l4.454-.4a1.06 1.06 0 00.891-.7L9.115 1.59a1.111 1.111 0 01.884-.584c.001 1.247-.078 15.183-.078 15.183z"></path><path d="M10.052 2c-.002 0-.007 0-.011.005L8.28 6.265A2.07 2.07 0 016.545 7.6l-4.429.397a.15.15 0 00-.079.048.154.154 0 00.016.217l.021.019 3.272 3.004.028.026a2.15 2.15 0 01.568 2.044l-.987 4.502a.99.99 0 01-.012.048.078.078 0 00.008.06.07.07 0 00.094.026l3.858-2.405a2.06 2.06 0 012.15 0l3.857 2.405c.023.012.04.01.052.006a.074.074 0 00.05-.09.948.948 0 01-.011-.05l-.988-4.502a2.146 2.146 0 01.594-2.068l3.36-3.103A.116.116 0 0018 8.12a.112.112 0 00-.072-.123l-4.4-.296a1 1 0 01-.13-.018 2.272 2.272 0 01-1.625-1.316l-1.692-4.32a1.07 1.07 0 01-.017-.042.017.017 0 00-.006-.004L10.053 2h-.001zm.001-1a1.02 1.02 0 01.96.685l.17.438 1.52 3.88c.17.361.501.622.893.701l4.463.3a1.11 1.11 0 01.6 1.904l-3.372 3.113c-.29.287-.404.708-.3 1.102l.991 4.52a1.074 1.074 0 01-1.586 1.202l-3.868-2.41a1.06 1.06 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.587-1.202l.991-4.52a1.144 1.144 0 00-.3-1.102L1.398 9.017a1.154 1.154 0 01.594-2.012l4.463-.401a1.06 1.06 0 00.892-.701l1.785-4.318c.173-.369.539-.585.92-.585h.001z"></path></svg></div><span class="ml-25">(<a class=" link-secondary text-underline" href="/products/shampoo-conditioner-set#write-a-review">1213</a>)</span></div></div>
  </div>
  <p class="product-card__title flex-grow-1 d-flex flex-column justify-content-center h4 font-weight-normal h-100">
    <a href="/products/shampoo-conditioner-set" class="text-dark text-decoration-none">Super Hydrating Shampoo &amp; Conditioner Set</a>
  </p>
  <p class="text-center">
    
      <span class="text-linethrough h4 m-1 font-weight-normal">SG$73.80</span>
    
    <span class="text-primary h4">SG$59.90</span>
  </p>
  
    

    
      
      <button type="button" class="btn btn-lg btn-primary add-to-cart btn-block px-0" data-variant-id="39405094010989" data-product-title="Super Hydrating Shampoo &amp; Conditioner Set" data-product-handle="shampoo-conditioner-set" data-available="available" data-location="featured_carousel">Add To Cart
      </button>
    
    
  
  </div>
</div>


<div class="carousel-item col-9 col-md-3 product-card text-center" data-product-handle="super-hydration-kit">
  <span class="badge badge--square bg-white position-absolute font-weight-normal font-size-sm"></span>
  <a href="/products/super-hydration-kit">
  
    <picture class="embed-responsive embed-responsive-1by1 m-0">
      <img class="embed-responsive-item fit--cover" alt="Super Hydration Kit" src="//cdn.shopify.com/s/files/1/0028/8253/5533/products/SuperHydrationKit_300x.jpg?v=1644826190" loading="lazy">
    </picture>
  

  

  </a>
  <div class="pt-2 pb-0 position-relative flex-grow-1 d-flex flex-column px-2">
  <div class="d-flex justify-content-center">
    <div class="react-yotpo-star" data-product-id="6655406932077" data-product-url="/products/super-hydration-kit" data-show-total="true"><div class="d-flex "><div class="d-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary "><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="svg text-primary ml-25"><path d="M9.921 16.189l-.506.247-3.86 2.41a1.066 1.066 0 01-1.467-.368 1.081 1.081 0 01-.116-.837l.989-4.52a1.145 1.145 0 00-.3-1.1l-3.265-3a1.156 1.156 0 01-.118-1.625c.182-.212.435-.35.711-.388l4.454-.4a1.06 1.06 0 00.891-.7L9.115 1.59a1.111 1.111 0 01.884-.584c.001 1.247-.078 15.183-.078 15.183z"></path><path d="M10.052 2c-.002 0-.007 0-.011.005L8.28 6.265A2.07 2.07 0 016.545 7.6l-4.429.397a.15.15 0 00-.079.048.154.154 0 00.016.217l.021.019 3.272 3.004.028.026a2.15 2.15 0 01.568 2.044l-.987 4.502a.99.99 0 01-.012.048.078.078 0 00.008.06.07.07 0 00.094.026l3.858-2.405a2.06 2.06 0 012.15 0l3.857 2.405c.023.012.04.01.052.006a.074.074 0 00.05-.09.948.948 0 01-.011-.05l-.988-4.502a2.146 2.146 0 01.594-2.068l3.36-3.103A.116.116 0 0018 8.12a.112.112 0 00-.072-.123l-4.4-.296a1 1 0 01-.13-.018 2.272 2.272 0 01-1.625-1.316l-1.692-4.32a1.07 1.07 0 01-.017-.042.017.017 0 00-.006-.004L10.053 2h-.001zm.001-1a1.02 1.02 0 01.96.685l.17.438 1.52 3.88c.17.361.501.622.893.701l4.463.3a1.11 1.11 0 01.6 1.904l-3.372 3.113c-.29.287-.404.708-.3 1.102l.991 4.52a1.074 1.074 0 01-1.586 1.202l-3.868-2.41a1.06 1.06 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.587-1.202l.991-4.52a1.144 1.144 0 00-.3-1.102L1.398 9.017a1.154 1.154 0 01.594-2.012l4.463-.401a1.06 1.06 0 00.892-.701l1.785-4.318c.173-.369.539-.585.92-.585h.001z"></path></svg></div><span class="ml-25">(<a class=" link-secondary text-underline" href="/products/super-hydration-kit#write-a-review">1213</a>)</span></div></div>
  </div>
  <p class="product-card__title flex-grow-1 d-flex flex-column justify-content-center h4 font-weight-normal h-100">
    <a href="/products/super-hydration-kit" class="text-dark text-decoration-none">Super Hydration Kit</a>
  </p>
  <p class="text-center">
    
      <span class="text-linethrough h4 m-1 font-weight-normal">SG$185.50</span>
    
    <span class="text-primary h4">SG$128.90</span>
  </p>
  
    

    
      
      <button type="button" class="btn btn-lg btn-primary add-to-cart btn-block px-0" data-variant-id="39648008241261" data-product-title="Super Hydration Kit" data-product-handle="super-hydration-kit" data-available="available" data-location="featured_carousel">Add To Cart
      </button>
    
    
  
  </div>
</div>


<div class="carousel-item col-9 col-md-3 product-card text-center" data-product-handle="ultimate-pamper-bundle">
  <span class="badge badge--square bg-white position-absolute font-weight-normal font-size-sm"></span>
  <a href="/products/ultimate-pamper-bundle">
  
    <picture class="embed-responsive embed-responsive-1by1 bg-shimmer m-0">
      <img class="embed-responsive-item fit--cover" alt="Ultimate Pamper Bundle" src="//cdn.shopify.com/s/files/1/0028/8253/5533/products/UltimatePamperBundle_300x.jpg?v=1644826364" loading="lazy">
    </picture>
  

  

  </a>
  <div class="pt-2 pb-0 position-relative flex-grow-1 d-flex flex-column px-2">
  <div class="d-flex justify-content-center">
    <div class="react-yotpo-star" data-product-id="6655042748525" data-product-url="/products/ultimate-pamper-bundle" data-show-total="true"><div class="d-flex "><div class="d-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary "><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="svg text-primary ml-25"><path d="M9.921 16.189l-.506.247-3.86 2.41a1.066 1.066 0 01-1.467-.368 1.081 1.081 0 01-.116-.837l.989-4.52a1.145 1.145 0 00-.3-1.1l-3.265-3a1.156 1.156 0 01-.118-1.625c.182-.212.435-.35.711-.388l4.454-.4a1.06 1.06 0 00.891-.7L9.115 1.59a1.111 1.111 0 01.884-.584c.001 1.247-.078 15.183-.078 15.183z"></path><path d="M10.052 2c-.002 0-.007 0-.011.005L8.28 6.265A2.07 2.07 0 016.545 7.6l-4.429.397a.15.15 0 00-.079.048.154.154 0 00.016.217l.021.019 3.272 3.004.028.026a2.15 2.15 0 01.568 2.044l-.987 4.502a.99.99 0 01-.012.048.078.078 0 00.008.06.07.07 0 00.094.026l3.858-2.405a2.06 2.06 0 012.15 0l3.857 2.405c.023.012.04.01.052.006a.074.074 0 00.05-.09.948.948 0 01-.011-.05l-.988-4.502a2.146 2.146 0 01.594-2.068l3.36-3.103A.116.116 0 0018 8.12a.112.112 0 00-.072-.123l-4.4-.296a1 1 0 01-.13-.018 2.272 2.272 0 01-1.625-1.316l-1.692-4.32a1.07 1.07 0 01-.017-.042.017.017 0 00-.006-.004L10.053 2h-.001zm.001-1a1.02 1.02 0 01.96.685l.17.438 1.52 3.88c.17.361.501.622.893.701l4.463.3a1.11 1.11 0 01.6 1.904l-3.372 3.113c-.29.287-.404.708-.3 1.102l.991 4.52a1.074 1.074 0 01-1.586 1.202l-3.868-2.41a1.06 1.06 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.587-1.202l.991-4.52a1.144 1.144 0 00-.3-1.102L1.398 9.017a1.154 1.154 0 01.594-2.012l4.463-.401a1.06 1.06 0 00.892-.701l1.785-4.318c.173-.369.539-.585.92-.585h.001z"></path></svg></div><span class="ml-25">(<a class=" link-secondary text-underline" href="/products/ultimate-pamper-bundle#write-a-review">2913</a>)</span></div></div>
  </div>
  <p class="product-card__title flex-grow-1 d-flex flex-column justify-content-center h4 font-weight-normal h-100">
    <a href="/products/ultimate-pamper-bundle" class="text-dark text-decoration-none">Ultimate Pamper Bundle</a>
  </p>
  <p class="text-center">
    
      <span class="text-linethrough h4 m-1 font-weight-normal">SG$146.80</span>
    
    <span class="text-primary h4">SG$102.80</span>
  </p>
  
    

    
      
      <button type="button" class="btn btn-lg btn-primary add-to-cart btn-block px-0" data-variant-id="39647156273261" data-product-title="Ultimate Pamper Bundle" data-product-handle="ultimate-pamper-bundle" data-available="available" data-location="featured_carousel">Add To Cart
      </button>
    
    
  
  </div>
</div>


<div class="carousel-item col-9 col-md-3 product-card text-center" data-product-handle="bali-bod-bundle-body-scrub-mask-cream">
  <span class="badge badge--square bg-white position-absolute font-weight-normal font-size-sm"></span>
  <a href="/products/bali-bod-bundle-body-scrub-mask-cream">
  
    <picture class="embed-responsive embed-responsive-1by1 bg-shimmer m-0">
      <img class="embed-responsive-item fit--cover" alt="Bali Bod Bundle" src="//cdn.shopify.com/s/files/1/0028/8253/5533/products/BaliDreamBundle-GFWhip_GFGel_300x.jpg?v=1645666570" loading="lazy">
    </picture>
  

  
<picture class="circle-badge position-absolute rounded-circle font-weight-bold d-flex p-1 " style="background-color: #F3436C;">
    
	<img class="w-100" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/badge-text-new_en.svg?v=1624417381" loading="lazy">
	
</picture>


  </a>
  <div class="pt-2 pb-0 position-relative flex-grow-1 d-flex flex-column px-2">
  <div class="d-flex justify-content-center">
    <div class="react-yotpo-star" data-product-id="6737970233453" data-product-url="/products/bali-bod-bundle-body-scrub-mask-cream" data-show-total="true"><div class="d-flex "><div class="d-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary "><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="svg text-primary ml-25"><path d="M9.921 16.189l-.506.247-3.86 2.41a1.066 1.066 0 01-1.467-.368 1.081 1.081 0 01-.116-.837l.989-4.52a1.145 1.145 0 00-.3-1.1l-3.265-3a1.156 1.156 0 01-.118-1.625c.182-.212.435-.35.711-.388l4.454-.4a1.06 1.06 0 00.891-.7L9.115 1.59a1.111 1.111 0 01.884-.584c.001 1.247-.078 15.183-.078 15.183z"></path><path d="M10.052 2c-.002 0-.007 0-.011.005L8.28 6.265A2.07 2.07 0 016.545 7.6l-4.429.397a.15.15 0 00-.079.048.154.154 0 00.016.217l.021.019 3.272 3.004.028.026a2.15 2.15 0 01.568 2.044l-.987 4.502a.99.99 0 01-.012.048.078.078 0 00.008.06.07.07 0 00.094.026l3.858-2.405a2.06 2.06 0 012.15 0l3.857 2.405c.023.012.04.01.052.006a.074.074 0 00.05-.09.948.948 0 01-.011-.05l-.988-4.502a2.146 2.146 0 01.594-2.068l3.36-3.103A.116.116 0 0018 8.12a.112.112 0 00-.072-.123l-4.4-.296a1 1 0 01-.13-.018 2.272 2.272 0 01-1.625-1.316l-1.692-4.32a1.07 1.07 0 01-.017-.042.017.017 0 00-.006-.004L10.053 2h-.001zm.001-1a1.02 1.02 0 01.96.685l.17.438 1.52 3.88c.17.361.501.622.893.701l4.463.3a1.11 1.11 0 01.6 1.904l-3.372 3.113c-.29.287-.404.708-.3 1.102l.991 4.52a1.074 1.074 0 01-1.586 1.202l-3.868-2.41a1.06 1.06 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.587-1.202l.991-4.52a1.144 1.144 0 00-.3-1.102L1.398 9.017a1.154 1.154 0 01.594-2.012l4.463-.401a1.06 1.06 0 00.892-.701l1.785-4.318c.173-.369.539-.585.92-.585h.001z"></path></svg></div><span class="ml-25">(<a class=" link-secondary text-underline" href="/products/bali-bod-bundle-body-scrub-mask-cream#write-a-review">295</a>)</span></div></div>
  </div>
  <p class="product-card__title flex-grow-1 d-flex flex-column justify-content-center h4 font-weight-normal h-100">
    <a href="/products/bali-bod-bundle-body-scrub-mask-cream" class="text-dark text-decoration-none">Bali Bod Bundle</a>
  </p>
  <p class="text-center">
    
      <span class="text-linethrough h4 m-1 font-weight-normal">SG$170.50</span>
    
    <span class="text-primary h4">SG$127.80</span>
  </p>
  
    

    
      

        
        


        

        
          <button data-opt="1" type="button" class="btn btn-lg btn-primary btn-choose btn-block px-0" data-id="6737970233453" data-handle="bali-bod-bundle-body-scrub-mask-cream">Choose Scent</button>
        


        <div class=" swatch-overlay flex-column align-items-center justify-content-end w-100 pb-0 px-2 position-absolute ">
        <div class="text-center w-100 pt-2 pb-lg-2">
          
          <label class="mb-2"><strong>Scent: </strong><span data-swatch-label="">Lychee &amp; Dragonfruit</span></label>
          
          <ul class="list-unstyled product-variant-swatch d-flex justify-content-center">
            
            
            
            
            
            
            
            

                
                


                <li class="product-variant-swatch__item col-3 p-0 available " data-available="available">
                    <span data-id="39872841875565" data-val="Lychee &amp; Dragonfruit" class="d-block variant-swatch lychee-dragonfruit   border-primary mx-auto "></span>
                </li>
              
            
            
            
            
            
            

                
                


                <li class="product-variant-swatch__item col-3 p-0 available " data-available="available">
                    <span data-id="39872841908333" data-val="Tropical Mango" class="d-block variant-swatch tropical-mango   mx-auto "></span>
                </li>
              
            
              
            </ul>
          </div>
          <button type="button" class="btn btn-lg btn-primary btn-block add-to-cart px-0" data-variant-id="39872841875565" data-product-title="Bali Bod Bundle" data-product-handle="bali-bod-bundle-body-scrub-mask-cream" data-img="//cdn.shopify.com/s/files/1/0028/8253/5533/products/BaliDreamBundle-GFWhip_GFGel.jpg?v=1645666570" data-location="featured_carousel">
            
            Add To Cart
            
          </button>
        </div>
      
    
  
  </div>
</div>


<div class="carousel-item col-9 col-md-3 product-card text-center" data-product-handle="silky-hair-set">
  <span class="badge badge--square bg-white position-absolute font-weight-normal font-size-sm"></span>
  <a href="/products/silky-hair-set">
  
    <picture class="embed-responsive embed-responsive-1by1 m-0">
      <img class="embed-responsive-item fit--cover" alt="Silky Hair Set" src="//cdn.shopify.com/s/files/1/0028/8253/5533/products/SilkyHairSet_ff6aaf9a-809f-4455-be79-a58abb8f9c38_300x.jpg?v=1644825841" loading="lazy">
    </picture>
  

  

  </a>
  <div class="pt-2 pb-0 position-relative flex-grow-1 d-flex flex-column px-2">
  <div class="d-flex justify-content-center">
    <div class="react-yotpo-star" data-product-id="4830737662061" data-product-url="/products/silky-hair-set" data-show-total="true"><div class="d-flex "><div class="d-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary "><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="svg text-primary ml-25"><path d="M9.921 16.189l-.506.247-3.86 2.41a1.066 1.066 0 01-1.467-.368 1.081 1.081 0 01-.116-.837l.989-4.52a1.145 1.145 0 00-.3-1.1l-3.265-3a1.156 1.156 0 01-.118-1.625c.182-.212.435-.35.711-.388l4.454-.4a1.06 1.06 0 00.891-.7L9.115 1.59a1.111 1.111 0 01.884-.584c.001 1.247-.078 15.183-.078 15.183z"></path><path d="M10.052 2c-.002 0-.007 0-.011.005L8.28 6.265A2.07 2.07 0 016.545 7.6l-4.429.397a.15.15 0 00-.079.048.154.154 0 00.016.217l.021.019 3.272 3.004.028.026a2.15 2.15 0 01.568 2.044l-.987 4.502a.99.99 0 01-.012.048.078.078 0 00.008.06.07.07 0 00.094.026l3.858-2.405a2.06 2.06 0 012.15 0l3.857 2.405c.023.012.04.01.052.006a.074.074 0 00.05-.09.948.948 0 01-.011-.05l-.988-4.502a2.146 2.146 0 01.594-2.068l3.36-3.103A.116.116 0 0018 8.12a.112.112 0 00-.072-.123l-4.4-.296a1 1 0 01-.13-.018 2.272 2.272 0 01-1.625-1.316l-1.692-4.32a1.07 1.07 0 01-.017-.042.017.017 0 00-.006-.004L10.053 2h-.001zm.001-1a1.02 1.02 0 01.96.685l.17.438 1.52 3.88c.17.361.501.622.893.701l4.463.3a1.11 1.11 0 01.6 1.904l-3.372 3.113c-.29.287-.404.708-.3 1.102l.991 4.52a1.074 1.074 0 01-1.586 1.202l-3.868-2.41a1.06 1.06 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.587-1.202l.991-4.52a1.144 1.144 0 00-.3-1.102L1.398 9.017a1.154 1.154 0 01.594-2.012l4.463-.401a1.06 1.06 0 00.892-.701l1.785-4.318c.173-.369.539-.585.92-.585h.001z"></path></svg></div><span class="ml-25">(<a class=" link-secondary text-underline" href="/products/silky-hair-set#write-a-review">2913</a>)</span></div></div>
  </div>
  <p class="product-card__title flex-grow-1 d-flex flex-column justify-content-center h4 font-weight-normal h-100">
    <a href="/products/silky-hair-set" class="text-dark text-decoration-none">Silky Hair Set</a>
  </p>
  <p class="text-center">
    
      <span class="text-linethrough h4 m-1 font-weight-normal">SG$101.80</span>
    
    <span class="text-primary h4">SG$88.60</span>
  </p>
  
    

    
      
      <button type="button" class="btn btn-lg btn-primary add-to-cart btn-block px-0" data-variant-id="33119753961581" data-product-title="Silky Hair Set" data-product-handle="silky-hair-set" data-available="available" data-location="featured_carousel">Add To Cart
      </button>
    
    
  
  </div>
</div>


<div class="carousel-item col-9 col-md-3 product-card text-center" data-product-handle="deep-condition-bundle">
  <span class="badge badge--square bg-white position-absolute font-weight-normal font-size-sm"></span>
  <a href="/products/deep-condition-bundle">
  
    <picture class="embed-responsive embed-responsive-1by1 m-0">
      <img class="embed-responsive-item fit--cover" alt="Deep Condition Bundle" src="//cdn.shopify.com/s/files/1/0028/8253/5533/products/DeepConditioningBundle_300x.jpg?v=1644824708" loading="lazy">
    </picture>
  

  

  </a>
  <div class="pt-2 pb-0 position-relative flex-grow-1 d-flex flex-column px-2">
  <div class="d-flex justify-content-center">
    <div class="react-yotpo-star" data-product-id="6625970847853" data-product-url="/products/deep-condition-bundle" data-show-total="true"><div class="d-flex "><div class="d-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary "><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="svg text-primary ml-25"><path d="M9.921 16.189l-.506.247-3.86 2.41a1.066 1.066 0 01-1.467-.368 1.081 1.081 0 01-.116-.837l.989-4.52a1.145 1.145 0 00-.3-1.1l-3.265-3a1.156 1.156 0 01-.118-1.625c.182-.212.435-.35.711-.388l4.454-.4a1.06 1.06 0 00.891-.7L9.115 1.59a1.111 1.111 0 01.884-.584c.001 1.247-.078 15.183-.078 15.183z"></path><path d="M10.052 2c-.002 0-.007 0-.011.005L8.28 6.265A2.07 2.07 0 016.545 7.6l-4.429.397a.15.15 0 00-.079.048.154.154 0 00.016.217l.021.019 3.272 3.004.028.026a2.15 2.15 0 01.568 2.044l-.987 4.502a.99.99 0 01-.012.048.078.078 0 00.008.06.07.07 0 00.094.026l3.858-2.405a2.06 2.06 0 012.15 0l3.857 2.405c.023.012.04.01.052.006a.074.074 0 00.05-.09.948.948 0 01-.011-.05l-.988-4.502a2.146 2.146 0 01.594-2.068l3.36-3.103A.116.116 0 0018 8.12a.112.112 0 00-.072-.123l-4.4-.296a1 1 0 01-.13-.018 2.272 2.272 0 01-1.625-1.316l-1.692-4.32a1.07 1.07 0 01-.017-.042.017.017 0 00-.006-.004L10.053 2h-.001zm.001-1a1.02 1.02 0 01.96.685l.17.438 1.52 3.88c.17.361.501.622.893.701l4.463.3a1.11 1.11 0 01.6 1.904l-3.372 3.113c-.29.287-.404.708-.3 1.102l.991 4.52a1.074 1.074 0 01-1.586 1.202l-3.868-2.41a1.06 1.06 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.587-1.202l.991-4.52a1.144 1.144 0 00-.3-1.102L1.398 9.017a1.154 1.154 0 01.594-2.012l4.463-.401a1.06 1.06 0 00.892-.701l1.785-4.318c.173-.369.539-.585.92-.585h.001z"></path></svg></div><span class="ml-25">(<a class=" link-secondary text-underline" href="/products/deep-condition-bundle#write-a-review">1213</a>)</span></div></div>
  </div>
  <p class="product-card__title flex-grow-1 d-flex flex-column justify-content-center h4 font-weight-normal h-100">
    <a href="/products/deep-condition-bundle" class="text-dark text-decoration-none">Deep Condition Bundle</a>
  </p>
  <p class="text-center">
    
      <span class="text-linethrough h4 m-1 font-weight-normal">SG$128.70</span>
    
    <span class="text-primary h4">SG$102.90</span>
  </p>
  
    

    
      
      <button type="button" class="btn btn-lg btn-primary add-to-cart btn-block px-0" data-variant-id="39541255569517" data-product-title="Deep Condition Bundle" data-product-handle="deep-condition-bundle" data-available="available" data-location="featured_carousel">Add To Cart
      </button>
    
    
  
  </div>
</div>


<div class="carousel-item col-9 col-md-3 product-card text-center" data-product-handle="shampoo-conditioner-set">
  <span class="badge badge--square bg-white position-absolute font-weight-normal font-size-sm"></span>
  <a href="/products/shampoo-conditioner-set">
  
    <picture class="embed-responsive embed-responsive-1by1 m-0">
      <img class="embed-responsive-item fit--cover" alt="Super Hydrating Shampoo &amp; Conditioner Set" src="//cdn.shopify.com/s/files/1/0028/8253/5533/products/Shampoo_ConditionerSet_300x.jpg?v=1644826148" loading="lazy">
    </picture>
  

  

  </a>
  <div class="pt-2 pb-0 position-relative flex-grow-1 d-flex flex-column px-2">
  <div class="d-flex justify-content-center">
    <div class="react-yotpo-star" data-product-id="6585993855085" data-product-url="/products/shampoo-conditioner-set" data-show-total="true"><div class="d-flex "><div class="d-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary "><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="svg text-primary ml-25"><path d="M9.921 16.189l-.506.247-3.86 2.41a1.066 1.066 0 01-1.467-.368 1.081 1.081 0 01-.116-.837l.989-4.52a1.145 1.145 0 00-.3-1.1l-3.265-3a1.156 1.156 0 01-.118-1.625c.182-.212.435-.35.711-.388l4.454-.4a1.06 1.06 0 00.891-.7L9.115 1.59a1.111 1.111 0 01.884-.584c.001 1.247-.078 15.183-.078 15.183z"></path><path d="M10.052 2c-.002 0-.007 0-.011.005L8.28 6.265A2.07 2.07 0 016.545 7.6l-4.429.397a.15.15 0 00-.079.048.154.154 0 00.016.217l.021.019 3.272 3.004.028.026a2.15 2.15 0 01.568 2.044l-.987 4.502a.99.99 0 01-.012.048.078.078 0 00.008.06.07.07 0 00.094.026l3.858-2.405a2.06 2.06 0 012.15 0l3.857 2.405c.023.012.04.01.052.006a.074.074 0 00.05-.09.948.948 0 01-.011-.05l-.988-4.502a2.146 2.146 0 01.594-2.068l3.36-3.103A.116.116 0 0018 8.12a.112.112 0 00-.072-.123l-4.4-.296a1 1 0 01-.13-.018 2.272 2.272 0 01-1.625-1.316l-1.692-4.32a1.07 1.07 0 01-.017-.042.017.017 0 00-.006-.004L10.053 2h-.001zm.001-1a1.02 1.02 0 01.96.685l.17.438 1.52 3.88c.17.361.501.622.893.701l4.463.3a1.11 1.11 0 01.6 1.904l-3.372 3.113c-.29.287-.404.708-.3 1.102l.991 4.52a1.074 1.074 0 01-1.586 1.202l-3.868-2.41a1.06 1.06 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.587-1.202l.991-4.52a1.144 1.144 0 00-.3-1.102L1.398 9.017a1.154 1.154 0 01.594-2.012l4.463-.401a1.06 1.06 0 00.892-.701l1.785-4.318c.173-.369.539-.585.92-.585h.001z"></path></svg></div><span class="ml-25">(<a class=" link-secondary text-underline" href="/products/shampoo-conditioner-set#write-a-review">1213</a>)</span></div></div>
  </div>
  <p class="product-card__title flex-grow-1 d-flex flex-column justify-content-center h4 font-weight-normal h-100">
    <a href="/products/shampoo-conditioner-set" class="text-dark text-decoration-none">Super Hydrating Shampoo &amp; Conditioner Set</a>
  </p>
  <p class="text-center">
    
      <span class="text-linethrough h4 m-1 font-weight-normal">SG$73.80</span>
    
    <span class="text-primary h4">SG$59.90</span>
  </p>
  
    

    
      
      <button type="button" class="btn btn-lg btn-primary add-to-cart btn-block px-0" data-variant-id="39405094010989" data-product-title="Super Hydrating Shampoo &amp; Conditioner Set" data-product-handle="shampoo-conditioner-set" data-available="available" data-location="featured_carousel">Add To Cart
      </button>
    
    
  
  </div>
</div>


<div class="carousel-item col-9 col-md-3 product-card text-center" data-product-handle="super-hydration-kit">
  <span class="badge badge--square bg-white position-absolute font-weight-normal font-size-sm"></span>
  <a href="/products/super-hydration-kit">
  
    <picture class="embed-responsive embed-responsive-1by1 m-0">
      <img class="embed-responsive-item fit--cover" alt="Super Hydration Kit" src="//cdn.shopify.com/s/files/1/0028/8253/5533/products/SuperHydrationKit_300x.jpg?v=1644826190" loading="lazy">
    </picture>
  

  

  </a>
  <div class="pt-2 pb-0 position-relative flex-grow-1 d-flex flex-column px-2">
  <div class="d-flex justify-content-center">
    <div class="react-yotpo-star" data-product-id="6655406932077" data-product-url="/products/super-hydration-kit" data-show-total="true"><div class="d-flex "><div class="d-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary "><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="svg text-primary ml-25"><path d="M9.921 16.189l-.506.247-3.86 2.41a1.066 1.066 0 01-1.467-.368 1.081 1.081 0 01-.116-.837l.989-4.52a1.145 1.145 0 00-.3-1.1l-3.265-3a1.156 1.156 0 01-.118-1.625c.182-.212.435-.35.711-.388l4.454-.4a1.06 1.06 0 00.891-.7L9.115 1.59a1.111 1.111 0 01.884-.584c.001 1.247-.078 15.183-.078 15.183z"></path><path d="M10.052 2c-.002 0-.007 0-.011.005L8.28 6.265A2.07 2.07 0 016.545 7.6l-4.429.397a.15.15 0 00-.079.048.154.154 0 00.016.217l.021.019 3.272 3.004.028.026a2.15 2.15 0 01.568 2.044l-.987 4.502a.99.99 0 01-.012.048.078.078 0 00.008.06.07.07 0 00.094.026l3.858-2.405a2.06 2.06 0 012.15 0l3.857 2.405c.023.012.04.01.052.006a.074.074 0 00.05-.09.948.948 0 01-.011-.05l-.988-4.502a2.146 2.146 0 01.594-2.068l3.36-3.103A.116.116 0 0018 8.12a.112.112 0 00-.072-.123l-4.4-.296a1 1 0 01-.13-.018 2.272 2.272 0 01-1.625-1.316l-1.692-4.32a1.07 1.07 0 01-.017-.042.017.017 0 00-.006-.004L10.053 2h-.001zm.001-1a1.02 1.02 0 01.96.685l.17.438 1.52 3.88c.17.361.501.622.893.701l4.463.3a1.11 1.11 0 01.6 1.904l-3.372 3.113c-.29.287-.404.708-.3 1.102l.991 4.52a1.074 1.074 0 01-1.586 1.202l-3.868-2.41a1.06 1.06 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.587-1.202l.991-4.52a1.144 1.144 0 00-.3-1.102L1.398 9.017a1.154 1.154 0 01.594-2.012l4.463-.401a1.06 1.06 0 00.892-.701l1.785-4.318c.173-.369.539-.585.92-.585h.001z"></path></svg></div><span class="ml-25">(<a class=" link-secondary text-underline" href="/products/super-hydration-kit#write-a-review">1213</a>)</span></div></div>
  </div>
  <p class="product-card__title flex-grow-1 d-flex flex-column justify-content-center h4 font-weight-normal h-100">
    <a href="/products/super-hydration-kit" class="text-dark text-decoration-none">Super Hydration Kit</a>
  </p>
  <p class="text-center">
    
      <span class="text-linethrough h4 m-1 font-weight-normal">SG$185.50</span>
    
    <span class="text-primary h4">SG$128.90</span>
  </p>
  
    

    
      
      <button type="button" class="btn btn-lg btn-primary add-to-cart btn-block px-0" data-variant-id="39648008241261" data-product-title="Super Hydration Kit" data-product-handle="super-hydration-kit" data-available="available" data-location="featured_carousel">Add To Cart
      </button>
    
    
  
  </div>
</div>


<div class="carousel-item col-9 col-md-3 product-card text-center" data-product-handle="ultimate-pamper-bundle">
  <span class="badge badge--square bg-white position-absolute font-weight-normal font-size-sm"></span>
  <a href="/products/ultimate-pamper-bundle">
  
    <picture class="embed-responsive embed-responsive-1by1 bg-shimmer m-0">
      <img class="embed-responsive-item fit--cover" alt="Ultimate Pamper Bundle" src="//cdn.shopify.com/s/files/1/0028/8253/5533/products/UltimatePamperBundle_300x.jpg?v=1644826364" loading="lazy">
    </picture>
  

  

  </a>
  <div class="pt-2 pb-0 position-relative flex-grow-1 d-flex flex-column px-2">
  <div class="d-flex justify-content-center">
    <div class="react-yotpo-star" data-product-id="6655042748525" data-product-url="/products/ultimate-pamper-bundle" data-show-total="true"><div class="d-flex "><div class="d-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary "><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="svg text-primary ml-25"><path d="M9.921 16.189l-.506.247-3.86 2.41a1.066 1.066 0 01-1.467-.368 1.081 1.081 0 01-.116-.837l.989-4.52a1.145 1.145 0 00-.3-1.1l-3.265-3a1.156 1.156 0 01-.118-1.625c.182-.212.435-.35.711-.388l4.454-.4a1.06 1.06 0 00.891-.7L9.115 1.59a1.111 1.111 0 01.884-.584c.001 1.247-.078 15.183-.078 15.183z"></path><path d="M10.052 2c-.002 0-.007 0-.011.005L8.28 6.265A2.07 2.07 0 016.545 7.6l-4.429.397a.15.15 0 00-.079.048.154.154 0 00.016.217l.021.019 3.272 3.004.028.026a2.15 2.15 0 01.568 2.044l-.987 4.502a.99.99 0 01-.012.048.078.078 0 00.008.06.07.07 0 00.094.026l3.858-2.405a2.06 2.06 0 012.15 0l3.857 2.405c.023.012.04.01.052.006a.074.074 0 00.05-.09.948.948 0 01-.011-.05l-.988-4.502a2.146 2.146 0 01.594-2.068l3.36-3.103A.116.116 0 0018 8.12a.112.112 0 00-.072-.123l-4.4-.296a1 1 0 01-.13-.018 2.272 2.272 0 01-1.625-1.316l-1.692-4.32a1.07 1.07 0 01-.017-.042.017.017 0 00-.006-.004L10.053 2h-.001zm.001-1a1.02 1.02 0 01.96.685l.17.438 1.52 3.88c.17.361.501.622.893.701l4.463.3a1.11 1.11 0 01.6 1.904l-3.372 3.113c-.29.287-.404.708-.3 1.102l.991 4.52a1.074 1.074 0 01-1.586 1.202l-3.868-2.41a1.06 1.06 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.587-1.202l.991-4.52a1.144 1.144 0 00-.3-1.102L1.398 9.017a1.154 1.154 0 01.594-2.012l4.463-.401a1.06 1.06 0 00.892-.701l1.785-4.318c.173-.369.539-.585.92-.585h.001z"></path></svg></div><span class="ml-25">(<a class=" link-secondary text-underline" href="/products/ultimate-pamper-bundle#write-a-review">2913</a>)</span></div></div>
  </div>
  <p class="product-card__title flex-grow-1 d-flex flex-column justify-content-center h4 font-weight-normal h-100">
    <a href="/products/ultimate-pamper-bundle" class="text-dark text-decoration-none">Ultimate Pamper Bundle</a>
  </p>
  <p class="text-center">
    
      <span class="text-linethrough h4 m-1 font-weight-normal">SG$146.80</span>
    
    <span class="text-primary h4">SG$102.80</span>
  </p>
  
    

    
      
      <button type="button" class="btn btn-lg btn-primary add-to-cart btn-block px-0" data-variant-id="39647156273261" data-product-title="Ultimate Pamper Bundle" data-product-handle="ultimate-pamper-bundle" data-available="available" data-location="featured_carousel">Add To Cart
      </button>
    
    
  
  </div>
</div>


<div class="carousel-item col-9 col-md-3 product-card text-center" data-product-handle="bali-bod-bundle-body-scrub-mask-cream">
  <span class="badge badge--square bg-white position-absolute font-weight-normal font-size-sm"></span>
  <a href="/products/bali-bod-bundle-body-scrub-mask-cream">
  
    <picture class="embed-responsive embed-responsive-1by1 bg-shimmer m-0">
      <img class="embed-responsive-item fit--cover" alt="Bali Bod Bundle" src="//cdn.shopify.com/s/files/1/0028/8253/5533/products/BaliDreamBundle-GFWhip_GFGel_300x.jpg?v=1645666570" loading="lazy">
    </picture>
  

  
<picture class="circle-badge position-absolute rounded-circle font-weight-bold d-flex p-1 " style="background-color: #F3436C;">
    
	<img class="w-100" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/badge-text-new_en.svg?v=1624417381" loading="lazy">
	
</picture>


  </a>
  <div class="pt-2 pb-0 position-relative flex-grow-1 d-flex flex-column px-2">
  <div class="d-flex justify-content-center">
    <div class="react-yotpo-star" data-product-id="6737970233453" data-product-url="/products/bali-bod-bundle-body-scrub-mask-cream" data-show-total="true"><div class="d-flex "><div class="d-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary "><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="svg text-primary ml-25"><path d="M9.921 16.189l-.506.247-3.86 2.41a1.066 1.066 0 01-1.467-.368 1.081 1.081 0 01-.116-.837l.989-4.52a1.145 1.145 0 00-.3-1.1l-3.265-3a1.156 1.156 0 01-.118-1.625c.182-.212.435-.35.711-.388l4.454-.4a1.06 1.06 0 00.891-.7L9.115 1.59a1.111 1.111 0 01.884-.584c.001 1.247-.078 15.183-.078 15.183z"></path><path d="M10.052 2c-.002 0-.007 0-.011.005L8.28 6.265A2.07 2.07 0 016.545 7.6l-4.429.397a.15.15 0 00-.079.048.154.154 0 00.016.217l.021.019 3.272 3.004.028.026a2.15 2.15 0 01.568 2.044l-.987 4.502a.99.99 0 01-.012.048.078.078 0 00.008.06.07.07 0 00.094.026l3.858-2.405a2.06 2.06 0 012.15 0l3.857 2.405c.023.012.04.01.052.006a.074.074 0 00.05-.09.948.948 0 01-.011-.05l-.988-4.502a2.146 2.146 0 01.594-2.068l3.36-3.103A.116.116 0 0018 8.12a.112.112 0 00-.072-.123l-4.4-.296a1 1 0 01-.13-.018 2.272 2.272 0 01-1.625-1.316l-1.692-4.32a1.07 1.07 0 01-.017-.042.017.017 0 00-.006-.004L10.053 2h-.001zm.001-1a1.02 1.02 0 01.96.685l.17.438 1.52 3.88c.17.361.501.622.893.701l4.463.3a1.11 1.11 0 01.6 1.904l-3.372 3.113c-.29.287-.404.708-.3 1.102l.991 4.52a1.074 1.074 0 01-1.586 1.202l-3.868-2.41a1.06 1.06 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.587-1.202l.991-4.52a1.144 1.144 0 00-.3-1.102L1.398 9.017a1.154 1.154 0 01.594-2.012l4.463-.401a1.06 1.06 0 00.892-.701l1.785-4.318c.173-.369.539-.585.92-.585h.001z"></path></svg></div><span class="ml-25">(<a class=" link-secondary text-underline" href="/products/bali-bod-bundle-body-scrub-mask-cream#write-a-review">295</a>)</span></div></div>
  </div>
  <p class="product-card__title flex-grow-1 d-flex flex-column justify-content-center h4 font-weight-normal h-100">
    <a href="/products/bali-bod-bundle-body-scrub-mask-cream" class="text-dark text-decoration-none">Bali Bod Bundle</a>
  </p>
  <p class="text-center">
    
      <span class="text-linethrough h4 m-1 font-weight-normal">SG$170.50</span>
    
    <span class="text-primary h4">SG$127.80</span>
  </p>
  
    

    
      

        
        


        

        
          <button data-opt="1" type="button" class="btn btn-lg btn-primary btn-choose btn-block px-0" data-id="6737970233453" data-handle="bali-bod-bundle-body-scrub-mask-cream">Choose Scent</button>
        


        <div class=" swatch-overlay flex-column align-items-center justify-content-end w-100 pb-0 px-2 position-absolute ">
        <div class="text-center w-100 pt-2 pb-lg-2">
          
          <label class="mb-2"><strong>Scent: </strong><span data-swatch-label="">Lychee &amp; Dragonfruit</span></label>
          
          <ul class="list-unstyled product-variant-swatch d-flex justify-content-center">
            
            
            
            
            
            
            
            

                
                


                <li class="product-variant-swatch__item col-3 p-0 available " data-available="available">
                    <span data-id="39872841875565" data-val="Lychee &amp; Dragonfruit" class="d-block variant-swatch lychee-dragonfruit   border-primary mx-auto "></span>
                </li>
              
            
            
            
            
            
            

                
                


                <li class="product-variant-swatch__item col-3 p-0 available " data-available="available">
                    <span data-id="39872841908333" data-val="Tropical Mango" class="d-block variant-swatch tropical-mango   mx-auto "></span>
                </li>
              
            
              
            </ul>
          </div>
          <button type="button" class="btn btn-lg btn-primary btn-block add-to-cart px-0" data-variant-id="39872841875565" data-product-title="Bali Bod Bundle" data-product-handle="bali-bod-bundle-body-scrub-mask-cream" data-img="//cdn.shopify.com/s/files/1/0028/8253/5533/products/BaliDreamBundle-GFWhip_GFGel.jpg?v=1645666570" data-location="featured_carousel">
            
            Add To Cart
            
          </button>
        </div>
      
    
  
  </div>
</div>


<div class="carousel-item col-9 col-md-3 product-card text-center" data-product-handle="silky-hair-set">
  <span class="badge badge--square bg-white position-absolute font-weight-normal font-size-sm"></span>
  <a href="/products/silky-hair-set">
  
    <picture class="embed-responsive embed-responsive-1by1 m-0">
      <img class="embed-responsive-item fit--cover" alt="Silky Hair Set" src="//cdn.shopify.com/s/files/1/0028/8253/5533/products/SilkyHairSet_ff6aaf9a-809f-4455-be79-a58abb8f9c38_300x.jpg?v=1644825841" loading="lazy">
    </picture>
  

  

  </a>
  <div class="pt-2 pb-0 position-relative flex-grow-1 d-flex flex-column px-2">
  <div class="d-flex justify-content-center">
    <div class="react-yotpo-star" data-product-id="4830737662061" data-product-url="/products/silky-hair-set" data-show-total="true"><div class="d-flex "><div class="d-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary "><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="svg text-primary ml-25"><path d="M9.921 16.189l-.506.247-3.86 2.41a1.066 1.066 0 01-1.467-.368 1.081 1.081 0 01-.116-.837l.989-4.52a1.145 1.145 0 00-.3-1.1l-3.265-3a1.156 1.156 0 01-.118-1.625c.182-.212.435-.35.711-.388l4.454-.4a1.06 1.06 0 00.891-.7L9.115 1.59a1.111 1.111 0 01.884-.584c.001 1.247-.078 15.183-.078 15.183z"></path><path d="M10.052 2c-.002 0-.007 0-.011.005L8.28 6.265A2.07 2.07 0 016.545 7.6l-4.429.397a.15.15 0 00-.079.048.154.154 0 00.016.217l.021.019 3.272 3.004.028.026a2.15 2.15 0 01.568 2.044l-.987 4.502a.99.99 0 01-.012.048.078.078 0 00.008.06.07.07 0 00.094.026l3.858-2.405a2.06 2.06 0 012.15 0l3.857 2.405c.023.012.04.01.052.006a.074.074 0 00.05-.09.948.948 0 01-.011-.05l-.988-4.502a2.146 2.146 0 01.594-2.068l3.36-3.103A.116.116 0 0018 8.12a.112.112 0 00-.072-.123l-4.4-.296a1 1 0 01-.13-.018 2.272 2.272 0 01-1.625-1.316l-1.692-4.32a1.07 1.07 0 01-.017-.042.017.017 0 00-.006-.004L10.053 2h-.001zm.001-1a1.02 1.02 0 01.96.685l.17.438 1.52 3.88c.17.361.501.622.893.701l4.463.3a1.11 1.11 0 01.6 1.904l-3.372 3.113c-.29.287-.404.708-.3 1.102l.991 4.52a1.074 1.074 0 01-1.586 1.202l-3.868-2.41a1.06 1.06 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.587-1.202l.991-4.52a1.144 1.144 0 00-.3-1.102L1.398 9.017a1.154 1.154 0 01.594-2.012l4.463-.401a1.06 1.06 0 00.892-.701l1.785-4.318c.173-.369.539-.585.92-.585h.001z"></path></svg></div><span class="ml-25">(<a class=" link-secondary text-underline" href="/products/silky-hair-set#write-a-review">2913</a>)</span></div></div>
  </div>
  <p class="product-card__title flex-grow-1 d-flex flex-column justify-content-center h4 font-weight-normal h-100">
    <a href="/products/silky-hair-set" class="text-dark text-decoration-none">Silky Hair Set</a>
  </p>
  <p class="text-center">
    
      <span class="text-linethrough h4 m-1 font-weight-normal">SG$101.80</span>
    
    <span class="text-primary h4">SG$88.60</span>
  </p>
  
    

    
      
      <button type="button" class="btn btn-lg btn-primary add-to-cart btn-block px-0" data-variant-id="33119753961581" data-product-title="Silky Hair Set" data-product-handle="silky-hair-set" data-available="available" data-location="featured_carousel">Add To Cart
      </button>
    
    
  
  </div>
</div>


<div class="carousel-item col-9 col-md-3 product-card text-center" data-product-handle="deep-condition-bundle">
  <span class="badge badge--square bg-white position-absolute font-weight-normal font-size-sm"></span>
  <a href="/products/deep-condition-bundle">
  
    <picture class="embed-responsive embed-responsive-1by1 m-0">
      <img class="embed-responsive-item fit--cover" alt="Deep Condition Bundle" src="//cdn.shopify.com/s/files/1/0028/8253/5533/products/DeepConditioningBundle_300x.jpg?v=1644824708" loading="lazy">
    </picture>
  

  

  </a>
  <div class="pt-2 pb-0 position-relative flex-grow-1 d-flex flex-column px-2">
  <div class="d-flex justify-content-center">
    <div class="react-yotpo-star" data-product-id="6625970847853" data-product-url="/products/deep-condition-bundle" data-show-total="true"><div class="d-flex "><div class="d-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary "><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="svg text-primary ml-25"><path d="M11.183 2.123l1.52 3.88a1.263 1.263 0 00.892.7l4.463.3a1.111 1.111 0 01.929 1.266 1.116 1.116 0 01-.33.637l-3.372 3.113a1.141 1.141 0 00-.3 1.1l.991 4.52a1.074 1.074 0 01-.751 1.318 1.071 1.071 0 01-.835-.116l-3.867-2.41a1.061 1.061 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.471-.363 1.079 1.079 0 01-.116-.837l.991-4.52a1.144 1.144 0 00-.3-1.1l-3.272-3a1.154 1.154 0 01-.118-1.625 1.15 1.15 0 01.712-.388l4.463-.4a1.061 1.061 0 00.892-.7L9.131 1.59a1.015 1.015 0 011.352-.488 1.019 1.019 0 01.528.588z"></path></svg><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="svg text-primary ml-25"><path d="M9.921 16.189l-.506.247-3.86 2.41a1.066 1.066 0 01-1.467-.368 1.081 1.081 0 01-.116-.837l.989-4.52a1.145 1.145 0 00-.3-1.1l-3.265-3a1.156 1.156 0 01-.118-1.625c.182-.212.435-.35.711-.388l4.454-.4a1.06 1.06 0 00.891-.7L9.115 1.59a1.111 1.111 0 01.884-.584c.001 1.247-.078 15.183-.078 15.183z"></path><path d="M10.052 2c-.002 0-.007 0-.011.005L8.28 6.265A2.07 2.07 0 016.545 7.6l-4.429.397a.15.15 0 00-.079.048.154.154 0 00.016.217l.021.019 3.272 3.004.028.026a2.15 2.15 0 01.568 2.044l-.987 4.502a.99.99 0 01-.012.048.078.078 0 00.008.06.07.07 0 00.094.026l3.858-2.405a2.06 2.06 0 012.15 0l3.857 2.405c.023.012.04.01.052.006a.074.074 0 00.05-.09.948.948 0 01-.011-.05l-.988-4.502a2.146 2.146 0 01.594-2.068l3.36-3.103A.116.116 0 0018 8.12a.112.112 0 00-.072-.123l-4.4-.296a1 1 0 01-.13-.018 2.272 2.272 0 01-1.625-1.316l-1.692-4.32a1.07 1.07 0 01-.017-.042.017.017 0 00-.006-.004L10.053 2h-.001zm.001-1a1.02 1.02 0 01.96.685l.17.438 1.52 3.88c.17.361.501.622.893.701l4.463.3a1.11 1.11 0 01.6 1.904l-3.372 3.113c-.29.287-.404.708-.3 1.102l.991 4.52a1.074 1.074 0 01-1.586 1.202l-3.868-2.41a1.06 1.06 0 00-1.091 0l-3.867 2.41a1.07 1.07 0 01-1.587-1.202l.991-4.52a1.144 1.144 0 00-.3-1.102L1.398 9.017a1.154 1.154 0 01.594-2.012l4.463-.401a1.06 1.06 0 00.892-.701l1.785-4.318c.173-.369.539-.585.92-.585h.001z"></path></svg></div><span class="ml-25">(<a class=" link-secondary text-underline" href="/products/deep-condition-bundle#write-a-review">1213</a>)</span></div></div>
  </div>
  <p class="product-card__title flex-grow-1 d-flex flex-column justify-content-center h4 font-weight-normal h-100">
    <a href="/products/deep-condition-bundle" class="text-dark text-decoration-none">Deep Condition Bundle</a>
  </p>
  <p class="text-center">
    
      <span class="text-linethrough h4 m-1 font-weight-normal">SG$128.70</span>
    
    <span class="text-primary h4">SG$102.90</span>
  </p>
  
    

    
      
      <button type="button" class="btn btn-lg btn-primary add-to-cart btn-block px-0" data-variant-id="39541255569517" data-product-title="Deep Condition Bundle" data-product-handle="deep-condition-bundle" data-available="available" data-location="featured_carousel">Add To Cart
      </button>
    
    
  
  </div>
</div>
</div>
    </div>
      <a class="carousel-control carousel-control-prev carousel-control--background floating-out-left justify-content-start text-primary" href="#value-sets" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon d-flex justify-content-center align-items-center" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.627 22.627" class="svg"><path d="M16.2 1.885l-9.428 9.428 9.428 9.428-1.886 1.886L3 11.313 14.314 0z"></path></svg></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control carousel-control-next carousel-control--background floating-out-right justify-content-end text-primary" href="#value-sets" role="button" data-slide="next">
        <span class="carousel-control-next-icon d-flex justify-content-center align-items-center" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.627 22.627" class="svg"><path d="M5.428 20.742l9.428-9.428-9.428-9.428L7.314 0l11.314 11.314L7.314 22.627z"></path></svg></span>
        <span class="sr-only">Next</span>
      </a>
  </div>